extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.mb-5(style="background-color: #1877F2;")
    .container-fluid
      a(href="/")
        svg.bi.bi-meta.meta-svg(xmlns='http://www.w3.org/2000/svg' width='60' height='30' fill='currentColor' viewBox='0 0 16 16')
          path(fill-rule='evenodd' d='M8.217 5.243C9.145 3.988 10.171 3 11.483 3 13.96 3 16 6.153 16.001 9.907c0 2.29-.986 3.725-2.757 3.725-1.543 0-2.395-.866-3.924-3.424l-.667-1.123-.118-.197a54.944 54.944 0 0 0-.53-.877l-1.178 2.08c-1.673 2.925-2.615 3.541-3.923 3.541C1.086 13.632 0 12.217 0 9.973 0 6.388 1.995 3 4.598 3c.319 0 .625.039.924.122.31.086.611.22.913.407.577.359 1.154.915 1.782 1.714Zm1.516 2.224c-.252-.41-.494-.787-.727-1.133L9 6.326c.845-1.305 1.543-1.954 2.372-1.954 1.723 0 3.102 2.537 3.102 5.653 0 1.188-.39 1.877-1.195 1.877-.773 0-1.142-.51-2.61-2.87l-.937-1.565ZM4.846 4.756c.725.1 1.385.634 2.34 2.001A212.13 212.13 0 0 0 5.551 9.3c-1.357 2.126-1.826 2.603-2.581 2.603-.777 0-1.24-.682-1.24-1.9 0-2.602 1.298-5.264 2.846-5.264.091 0 .181.006.27.018Z')
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link.active(aria-current='page' href=currentUser.url).text-white.font-weight-bold #{currentUser.first_name}
          li.nav-item
            a.nav-link(href='/').text-white.font-weight-bold Home
          li.nav-item
            a.nav-link(href='/users/index-page').text-white.font-weight-bold Users Index
          li.nav-item
            a.nav-link(href='/users/friend-requests').text-white.font-weight-bold Friend Requests
          li.nav-item
            a.nav-link(href='/auth/logout').text-white.font-weight-bold Log Out
  .container-fluid
    .d-flex.flex-column.align-items-center
      if (data.friendRequests.length)
        each datum in data.friendRequests
          div
            .card.mb-3(style='min-width: 700px;')
              .row.g-0
                .col-md-4
                  img.img-fluid.rounded-start(src=datum.picture alt='profile placeholder')
                .col-md-8
                  .card-body
                    h5.card-title.display-4 #{datum.first_name + ' ' + datum.last_name}
                    p.lead.font-weight-bold.card-text.font-weight-light Hometown: #{datum.hometown}
                    p.lead.font-weight-bold.card-text.font-weight-light Friends: #{datum.friends.length}
                    form(action="/users/friend-request/accept/" + datum._id, method="post") 
                      button.btn.btn-primary.btn-lg(type='submit') Accept Friend Request
      else 
        h1 No Friend Requests